<div class="index_form_main_div">
    <div class="index_form_div">
        <div class="index_form_title">开发质量高？开发成本低？找我就对了！</div>
        <div class="index_form_subtitle">请填写您的开发需求，只需30分钟获取报价及开发方案</div>
        <form class="form-inline">
            <div class="index_input_div contact_right_input_odd">
                <div class="index_input_group">
                    <label class="index_label" for="index_contact"><span>* </span>联系人：</label>
                    <input type="text" class="index_input input-lg" id="index_contact" placeholder="联系人">
                </div>
            </div>
            <div class="index_input_div contact_right_input_even">
                <div class="index_input_group">
                    <label class="index_label" for="index_phone"><span>* </span>联系电话：</label>
                    <input type="text" class="index_input input-lg" id="index_phone" placeholder="联系电话">
                </div>
            </div>
            <div class="index_input_div index_input_div_lg contact_right_input_even">
                <div class="index_input_group">
                    <label class="index_label" for="index_need"><span>* </span>需求：</label>
                    <input type="text" class="index_input input-lg" id="index_need" placeholder="请用一句话描述你的需求  例如：商城网站">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">免费项目评估</button>
        </form>
    </div>
</div>