.footer_main_div {
  min-width: 1200px;
  background: #B5DCEF;
  box-shadow: 0px 3px 250px 0px rgba(0, 83, 244, 0.24) inset;
}
.footer_main_div .footer_div {
  width: 1200px;
  height: 400px;
  margin: auto;
  padding: 60px 30px 0 0;
}
.footer_main_div .footer_div .footer_left {
  float: right;
  text-align: center;
}
.footer_main_div .footer_div .footer_left .footer_left_helpline {
  margin: 20px 0 10px 0;
  padding: 4px 40px;
  font-family: AliHYAiHei;
  font-weight: 600;
  color: #0067D2;
  text-align: center;
  background: #eafaf6;
  border-radius: 40px;
}
.footer_main_div .footer_div .footer_left .footer_left_helpline .footer_left_helpline_title {
  font-size: 24px;
  letter-spacing: 10px;
}
.footer_main_div .footer_div .footer_left .footer_left_helpline .footer_left_helpline_phone {
  font-size: 32px;
  letter-spacing: 4px;
}
.footer_main_div .footer_div .footer_left .footer_left_logo {
  width: auto;
  height: 96px;
}
.footer_main_div .footer_div .footer_left .footer_left_logo .footer_left_logo_img {
  width: auto;
  height: 100%;
}
.footer_main_div .footer_div .footer_left .footer_left_info {
  text-align: center;
  font-family: SourceHanSansCN-Medium;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.footer_main_div .footer_div .footer_left .footer_left_info div {
  padding: 4px 0;
}
.footer_main_div .footer_div .footer_left .footer_left_info a {
  text-decoration: none;
  color: #333333;
}
.footer_main_div .footer_div .footer_right {
  float: left;
}
.footer_main_div .footer_div .footer_right .footer_right_col {
  display: inline-block;
  margin: 0 40px 0 0;
  text-align: center;
  vertical-align: top;
  letter-spacing: 2px;
}
.footer_main_div .footer_div .footer_right .footer_right_col a {
  text-decoration: none;
}
.footer_main_div .footer_div .footer_right .footer_right_col .footer_right_title {
  margin-bottom: 16px;
  font-size: 28px;
  font-weight: 400;
  color: #333333;
}
.footer_main_div .footer_div .footer_right .footer_right_col .footer_right_item {
  cursor: pointer;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #0067D2;
}
.footer_main_div .footer_div .footer_right .footer_right_col .footer_right_qr {
  width: 172px;
  margin-left: 20px;
}
.footer_main_div .footer_div .footer_right .footer_right_col .footer_right_qr .footer_right_qr_img {
  width: 100%;
  height: auto;
}
.footer_main_div .footer_div .footer_right .footer_right_col .footer_right_qr .footer_right_title_div {
  margin-bottom: 20px;
  font-family: SourceHanSansCN-Regular;
  font-size: 20px;
  font-weight: bold;
}
.footer_main_div .footer_div .footer_right .footer_right_col .footer_right_qr .footer_right_title_div div {
  margin: 0 0 6px 0;
}
.footer_link_main_div {
  background: rgba(96, 179, 221, 0.46);
  box-shadow: 0px 3px 250px 0px rgba(0, 83, 244, 0.24) inset;
  padding: 22px 0;
}
.footer_link_main_div .footer_link_div {
  width: 1200px;
  margin: auto;
  font-family: SourceHanSansCN-Regular;
  font-weight: 600;
  font-size: 18px;
  color: #333333;
  letter-spacing: 2px;
}
.footer_link_main_div .footer_link_div a {
  text-decoration: none;
  cursor: pointer;
  margin: 0 14px;
  font-weight: 400;
  color: #4C5964;
}
